In [1]:
import pandas as pd
df = pd.read_csv("Sales.csv")

In [2]:
import pandas as pd

unique_pizza_ids = df['pizza_name_id'].unique()

dataframes = {}

for pizza_id in unique_pizza_ids:
    df_filtered = df[df['pizza_name_id'] == pizza_id][['week_number', 'quantity', 'order_date']]
    dataframes[pizza_id] = df_filtered

In [3]:
import pandas as pd
from prophet import Prophet
from sklearn.metrics import mean_absolute_percentage_error

results = {}



example_pizza_id = unique_pizza_ids[0]
df = dataframes[example_pizza_id]

c:\Users\ANNIE CHRISTINA G\AppData\Local\Programs\Python\Python312\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
Importing plotly failed. Interactive plots will not work.

In [4]:
df

       week_number  quantity  order_date
0                1         1  2015-01-01
178              1         1  2015-01-02
356              1         1  2015-01-03
388              1         1  2015-01-03
567              1         1  2015-01-04
...            ...       ...         ...
48056           52         1  2015-12-26
48112           52         1  2015-12-27
48211           53         1  2015-12-28
48238           53         1  2015-12-28
48285           53         1  2015-12-28

[473 rows x 3 columns]

In [5]:
df_weekly = df.groupby('week_number').sum().reset_index()

In [6]:
df_weekly

    week_number  quantity                                         order_date
0             1         5  2015-01-012015-01-022015-01-032015-01-032015-0...
1             2         5  2015-01-062015-01-062015-01-072015-01-092015-0...
2             3         3                     2015-01-142015-01-172015-01-17
3             4         4           2015-01-192015-01-212015-01-222015-01-23
4             5        11  2015-01-272015-01-272015-01-282015-01-292015-0...
5             6        11  2015-02-032015-02-032015-02-042015-02-042015-0...
6             7         8  2015-02-102015-02-112015-02-122015-02-122015-0...
7             8        12  2015-02-162015-02-162015-02-162015-02-162015-0...
8             9         8  2015-02-232015-02-242015-02-242015-02-242015-0...
9            10        18  2015-03-022015-03-022015-03-022015-03-022015-0...
10           11         9  2015-03-102015-03-122015-03-132015-03-132015-0...
11           12        10  2015-03-172015-03-172015-03-182015-03-182015-0...
12           13        10  2015-03-232015-03-232015-03-232015-03-262015-0...
13           14        13  2015-03-302015-04-012015-04-022015-04-022015-0...
14           15         9  2015-04-062015-04-062015-04-072015-04-072015-0...
15           16         6  2015-04-132015-04-142015-04-142015-04-152015-0...
16           17        11  2015-04-202015-04-202015-04-212015-04-212015-0...
17           18        10  2015-04-272015-04-282015-04-292015-04-302015-0...
18           19        11  2015-05-042015-05-042015-05-052015-05-062015-0...
19           20         5  2015-05-112015-05-132015-05-142015-05-152015-0...
20           21         6  2015-05-182015-05-202015-05-202015-05-232015-0...
21           22         9  2015-05-252015-05-252015-05-262015-05-262015-0...
22           23         8  2015-06-012015-06-022015-06-042015-06-052015-0...
23           24        13  2015-06-082015-06-082015-06-082015-06-092015-0...
24           25        10  2015-06-162015-06-162015-06-162015-06-172015-0...
25           26        15  2015-06-222015-06-222015-06-232015-06-232015-0...
26           27        10  2015-06-292015-07-012015-07-022015-07-022015-0...
27           28        13  2015-07-062015-07-062015-07-062015-07-072015-0...
28           29         4           2015-07-132015-07-162015-07-162015-07-18
29           30        14  2015-07-202015-07-202015-07-202015-07-212015-0...
30           31         9  2015-07-272015-07-282015-07-282015-07-302015-0...
31           32        12  2015-08-042015-08-052015-08-052015-08-052015-0...
32           33        13  2015-08-102015-08-102015-08-112015-08-112015-0...
33           34        13  2015-08-182015-08-182015-08-192015-08-202015-0...
34           35         5  2015-08-252015-08-262015-08-272015-08-292015-0...
35           36         8  2015-09-022015-09-032015-09-042015-09-052015-0...
36           37        11  2015-09-072015-09-072015-09-092015-09-092015-0...
37           38         8  2015-09-142015-09-152015-09-162015-09-162015-0...
38           39         6  2015-09-212015-09-212015-09-232015-09-232015-0...
39           40         8  2015-09-292015-09-302015-10-012015-10-012015-1...
40           41         9  2015-10-062015-10-062015-10-082015-10-082015-1...
41           42         8  2015-10-152015-10-152015-10-152015-10-162015-1...
42           43         8  2015-10-202015-10-212015-10-212015-10-222015-1...
43           44         3                     2015-10-302015-10-312015-11-01
44           45         3                     2015-11-032015-11-042015-11-07
45           46        13  2015-11-092015-11-092015-11-092015-11-092015-1...
46           47         9  2015-11-162015-11-172015-11-182015-11-182015-1...
47           48        11  2015-11-232015-11-252015-11-252015-11-262015-1...
48           49        14  2015-11-302015-11-302015-12-012015-12-012015-1...
49           50        13  2015-12-072015-12-082015-12-092015-12-092015-1...
50           51         7  2015-12-142015-12-152015-12-152015-12-162015-1...
51           52         8  2015-12-212015-12-212015-12-212015-12-222015-1...
52           53         3                     2015-12-282015-12-282015-12-28

In [7]:
df_weekly.rename(columns={'week_number': 'ds', 'quantity': 'y'}, inplace=True)

In [8]:
df_weekly

    ds   y                                         order_date
0    1   5  2015-01-012015-01-022015-01-032015-01-032015-0...
1    2   5  2015-01-062015-01-062015-01-072015-01-092015-0...
2    3   3                     2015-01-142015-01-172015-01-17
3    4   4           2015-01-192015-01-212015-01-222015-01-23
4    5  11  2015-01-272015-01-272015-01-282015-01-292015-0...
5    6  11  2015-02-032015-02-032015-02-042015-02-042015-0...
6    7   8  2015-02-102015-02-112015-02-122015-02-122015-0...
7    8  12  2015-02-162015-02-162015-02-162015-02-162015-0...
8    9   8  2015-02-232015-02-242015-02-242015-02-242015-0...
9   10  18  2015-03-022015-03-022015-03-022015-03-022015-0...
10  11   9  2015-03-102015-03-122015-03-132015-03-132015-0...
11  12  10  2015-03-172015-03-172015-03-182015-03-182015-0...
12  13  10  2015-03-232015-03-232015-03-232015-03-262015-0...
13  14  13  2015-03-302015-04-012015-04-022015-04-022015-0...
14  15   9  2015-04-062015-04-062015-04-072015-04-072015-0...
15  16   6  2015-04-132015-04-142015-04-142015-04-152015-0...
16  17  11  2015-04-202015-04-202015-04-212015-04-212015-0...
17  18  10  2015-04-272015-04-282015-04-292015-04-302015-0...
18  19  11  2015-05-042015-05-042015-05-052015-05-062015-0...
19  20   5  2015-05-112015-05-132015-05-142015-05-152015-0...
20  21   6  2015-05-182015-05-202015-05-202015-05-232015-0...
21  22   9  2015-05-252015-05-252015-05-262015-05-262015-0...
22  23   8  2015-06-012015-06-022015-06-042015-06-052015-0...
23  24  13  2015-06-082015-06-082015-06-082015-06-092015-0...
24  25  10  2015-06-162015-06-162015-06-162015-06-172015-0...
25  26  15  2015-06-222015-06-222015-06-232015-06-232015-0...
26  27  10  2015-06-292015-07-012015-07-022015-07-022015-0...
27  28  13  2015-07-062015-07-062015-07-062015-07-072015-0...
28  29   4           2015-07-132015-07-162015-07-162015-07-18
29  30  14  2015-07-202015-07-202015-07-202015-07-212015-0...
30  31   9  2015-07-272015-07-282015-07-282015-07-302015-0...
31  32  12  2015-08-042015-08-052015-08-052015-08-052015-0...
32  33  13  2015-08-102015-08-102015-08-112015-08-112015-0...
33  34  13  2015-08-182015-08-182015-08-192015-08-202015-0...
34  35   5  2015-08-252015-08-262015-08-272015-08-292015-0...
35  36   8  2015-09-022015-09-032015-09-042015-09-052015-0...
36  37  11  2015-09-072015-09-072015-09-092015-09-092015-0...
37  38   8  2015-09-142015-09-152015-09-162015-09-162015-0...
38  39   6  2015-09-212015-09-212015-09-232015-09-232015-0...
39  40   8  2015-09-292015-09-302015-10-012015-10-012015-1...
40  41   9  2015-10-062015-10-062015-10-082015-10-082015-1...
41  42   8  2015-10-152015-10-152015-10-152015-10-162015-1...
42  43   8  2015-10-202015-10-212015-10-212015-10-222015-1...
43  44   3                     2015-10-302015-10-312015-11-01
44  45   3                     2015-11-032015-11-042015-11-07
45  46  13  2015-11-092015-11-092015-11-092015-11-092015-1...
46  47   9  2015-11-162015-11-172015-11-182015-11-182015-1...
47  48  11  2015-11-232015-11-252015-11-252015-11-262015-1...
48  49  14  2015-11-302015-11-302015-12-012015-12-012015-1...
49  50  13  2015-12-072015-12-082015-12-092015-12-092015-1...
50  51   7  2015-12-142015-12-152015-12-152015-12-162015-1...
51  52   8  2015-12-212015-12-212015-12-212015-12-222015-1...
52  53   3                     2015-12-282015-12-282015-12-28

In [9]:
df_weekly['ds'] = pd.date_range(start=df['order_date'].min(), periods=len(df_weekly), freq='W')

In [10]:
df_weekly

           ds   y                                         order_date
0  2015-01-04   5  2015-01-012015-01-022015-01-032015-01-032015-0...
1  2015-01-11   5  2015-01-062015-01-062015-01-072015-01-092015-0...
2  2015-01-18   3                     2015-01-142015-01-172015-01-17
3  2015-01-25   4           2015-01-192015-01-212015-01-222015-01-23
4  2015-02-01  11  2015-01-272015-01-272015-01-282015-01-292015-0...
5  2015-02-08  11  2015-02-032015-02-032015-02-042015-02-042015-0...
6  2015-02-15   8  2015-02-102015-02-112015-02-122015-02-122015-0...
7  2015-02-22  12  2015-02-162015-02-162015-02-162015-02-162015-0...
8  2015-03-01   8  2015-02-232015-02-242015-02-242015-02-242015-0...
9  2015-03-08  18  2015-03-022015-03-022015-03-022015-03-022015-0...
10 2015-03-15   9  2015-03-102015-03-122015-03-132015-03-132015-0...
11 2015-03-22  10  2015-03-172015-03-172015-03-182015-03-182015-0...
12 2015-03-29  10  2015-03-232015-03-232015-03-232015-03-262015-0...
13 2015-04-05  13  2015-03-302015-04-012015-04-022015-04-022015-0...
14 2015-04-12   9  2015-04-062015-04-062015-04-072015-04-072015-0...
15 2015-04-19   6  2015-04-132015-04-142015-04-142015-04-152015-0...
16 2015-04-26  11  2015-04-202015-04-202015-04-212015-04-212015-0...
17 2015-05-03  10  2015-04-272015-04-282015-04-292015-04-302015-0...
18 2015-05-10  11  2015-05-042015-05-042015-05-052015-05-062015-0...
19 2015-05-17   5  2015-05-112015-05-132015-05-142015-05-152015-0...
20 2015-05-24   6  2015-05-182015-05-202015-05-202015-05-232015-0...
21 2015-05-31   9  2015-05-252015-05-252015-05-262015-05-262015-0...
22 2015-06-07   8  2015-06-012015-06-022015-06-042015-06-052015-0...
23 2015-06-14  13  2015-06-082015-06-082015-06-082015-06-092015-0...
24 2015-06-21  10  2015-06-162015-06-162015-06-162015-06-172015-0...
25 2015-06-28  15  2015-06-222015-06-222015-06-232015-06-232015-0...
26 2015-07-05  10  2015-06-292015-07-012015-07-022015-07-022015-0...
27 2015-07-12  13  2015-07-062015-07-062015-07-062015-07-072015-0...
28 2015-07-19   4           2015-07-132015-07-162015-07-162015-07-18
29 2015-07-26  14  2015-07-202015-07-202015-07-202015-07-212015-0...
30 2015-08-02   9  2015-07-272015-07-282015-07-282015-07-302015-0...
31 2015-08-09  12  2015-08-042015-08-052015-08-052015-08-052015-0...
32 2015-08-16  13  2015-08-102015-08-102015-08-112015-08-112015-0...
33 2015-08-23  13  2015-08-182015-08-182015-08-192015-08-202015-0...
34 2015-08-30   5  2015-08-252015-08-262015-08-272015-08-292015-0...
35 2015-09-06   8  2015-09-022015-09-032015-09-042015-09-052015-0...
36 2015-09-13  11  2015-09-072015-09-072015-09-092015-09-092015-0...
37 2015-09-20   8  2015-09-142015-09-152015-09-162015-09-162015-0...
38 2015-09-27   6  2015-09-212015-09-212015-09-232015-09-232015-0...
39 2015-10-04   8  2015-09-292015-09-302015-10-012015-10-012015-1...
40 2015-10-11   9  2015-10-062015-10-062015-10-082015-10-082015-1...
41 2015-10-18   8  2015-10-152015-10-152015-10-152015-10-162015-1...
42 2015-10-25   8  2015-10-202015-10-212015-10-212015-10-222015-1...
43 2015-11-01   3                     2015-10-302015-10-312015-11-01
44 2015-11-08   3                     2015-11-032015-11-042015-11-07
45 2015-11-15  13  2015-11-092015-11-092015-11-092015-11-092015-1...
46 2015-11-22   9  2015-11-162015-11-172015-11-182015-11-182015-1...
47 2015-11-29  11  2015-11-232015-11-252015-11-252015-11-262015-1...
48 2015-12-06  14  2015-11-302015-11-302015-12-012015-12-012015-1...
49 2015-12-13  13  2015-12-072015-12-082015-12-092015-12-092015-1...
50 2015-12-20   7  2015-12-142015-12-152015-12-152015-12-162015-1...
51 2015-12-27   8  2015-12-212015-12-212015-12-212015-12-222015-1...
52 2016-01-03   3                     2015-12-282015-12-282015-12-28

In [11]:

split_point = int(len(df_weekly) * 0.7)
train_df = df_weekly[:split_point]

test_df = df_weekly[split_point:]

In [14]:
test_df

           ds   y                                         order_date
37 2015-09-20   8  2015-09-142015-09-152015-09-162015-09-162015-0...
38 2015-09-27   6  2015-09-212015-09-212015-09-232015-09-232015-0...
39 2015-10-04   8  2015-09-292015-09-302015-10-012015-10-012015-1...
40 2015-10-11   9  2015-10-062015-10-062015-10-082015-10-082015-1...
41 2015-10-18   8  2015-10-152015-10-152015-10-152015-10-162015-1...
42 2015-10-25   8  2015-10-202015-10-212015-10-212015-10-222015-1...
43 2015-11-01   3                     2015-10-302015-10-312015-11-01
44 2015-11-08   3                     2015-11-032015-11-042015-11-07
45 2015-11-15  13  2015-11-092015-11-092015-11-092015-11-092015-1...
46 2015-11-22   9  2015-11-162015-11-172015-11-182015-11-182015-1...
47 2015-11-29  11  2015-11-232015-11-252015-11-252015-11-262015-1...
48 2015-12-06  14  2015-11-302015-11-302015-12-012015-12-012015-1...
49 2015-12-13  13  2015-12-072015-12-082015-12-092015-12-092015-1...
50 2015-12-20   7  2015-12-142015-12-152015-12-152015-12-162015-1...
51 2015-12-27   8  2015-12-212015-12-212015-12-212015-12-222015-1...
52 2016-01-03   3                     2015-12-282015-12-282015-12-28

In [15]:
model = Prophet()

model.fit(train_df)

future = model.make_future_dataframe(periods=len(test_df), freq='W')

10:32:50 - cmdstanpy - INFO - Chain [1] start processing
10:32:50 - cmdstanpy - INFO - Chain [1] done processing

In [16]:
future

           ds
0  2015-01-04
1  2015-01-11
2  2015-01-18
3  2015-01-25
4  2015-02-01
5  2015-02-08
6  2015-02-15
7  2015-02-22
8  2015-03-01
9  2015-03-08
10 2015-03-15
11 2015-03-22
12 2015-03-29
13 2015-04-05
14 2015-04-12
15 2015-04-19
16 2015-04-26
17 2015-05-03
18 2015-05-10
19 2015-05-17
20 2015-05-24
21 2015-05-31
22 2015-06-07
23 2015-06-14
24 2015-06-21
25 2015-06-28
26 2015-07-05
27 2015-07-12
28 2015-07-19
29 2015-07-26
30 2015-08-02
31 2015-08-09
32 2015-08-16
33 2015-08-23
34 2015-08-30
35 2015-09-06
36 2015-09-13
37 2015-09-20
38 2015-09-27
39 2015-10-04
40 2015-10-11
41 2015-10-18
42 2015-10-25
43 2015-11-01
44 2015-11-08
45 2015-11-15
46 2015-11-22
47 2015-11-29
48 2015-12-06
49 2015-12-13
50 2015-12-20
51 2015-12-27
52 2016-01-03

In [18]:

forecast = model.predict(future)
forecast

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
0,2015-01-04,8.035560,3.992152,12.000875,8.035560,8.035560,0.0,0.0,0.0,0.0,0.0,0.0,8.035560
1,2015-01-11,8.116812,3.998008,12.444889,8.116812,8.116812,0.0,0.0,0.0,0.0,0.0,0.0,8.116812
2,2015-01-18,8.198082,3.973136,12.235165,8.198082,8.198082,0.0,0.0,0.0,0.0,0.0,0.0,8.198082
3,2015-01-25,8.279352,4.065340,12.485858,8.279352,8.279352,0.0,0.0,0.0,0.0,0.0,0.0,8.279352
4,2015-02-01,8.360622,3.706741,12.325495,8.360622,8.360622,0.0,0.0,0.0,0.0,0.0,0.0,8.360622
5,2015-02-08,8.441892,4.192292,12.617610,8.441892,8.441892,0.0,0.0,0.0,0.0,0.0,0.0,8.441892
6,2015-02-15,8.523162,4.150100,12.741620,8.523162,8.523162,0.0,0.0,0.0,0.0,0.0,0.0,8.523162
7,2015-02-22,8.604432,4.578737,12.687637,8.604432,8.604432,0.0,0.0,0.0,0.0,0.0,0.0,8.604432
8,2015-03-01,8.685702,4.417211,12.789517,8.685702,8.685702,0.0,0.0,0.0,0.0,0.0,0.0,8.685702
9,2015-03-08,8.766972,4.715271,12.876300,8.766972,8.766972,0.0,0.0,0.0,0.0,0.0,0.0,8.766972
10,2015-03-15,8.848242,4.567655,12.856791,8.848242,8.848242,0.0,0.0,0.0,0.0,0.0,0.0,8.848242
11,2015-03-22,8.929512,4.773207,13.328282,8.929512,8.929512,0.0,0.0,0.0,0.0,0.0,0.0,8.929512
12,2015-03-29,9.010782,4.767415,13.089028,9.010782,9.010782,0.0,0.0,0.0,0.0,0.0,0.0,9.010782
13,2015-04-05,9.092051,5.091030,13.375682,9.092051,9.092051,0.0,0.0,0.0,0.0,0.0,0.0,9.092051
14,2015-04-12,9.173321,5.088583,13.433251,9.173321,9.173321,0.0,0.0,0.0,0.0,0.0,0.0,9.173321
15,2015-04-19,9.254591,5.247304,13.172068,9.254591,9.254591,0.0,0.0,0.0,0.0,0.0,0.0,9.254591
16,2015-04-26,9.335861,5.142450,14.045795,9.335861,9.335861,0.0,0.0,0.0,0.0,0.0,0.0,9.335861
17,2015-05-03,9.417131,4.903768,13.349244,9.417131,9.417131,0.0,0.0,0.0,0.0,0.0,0.0,9.417131
18,2015-05-10,9.498401,5.086712,13.908351,9.498401,9.498401,0.0,0.0,0.0,0.0,0.0,0.0,9.498401
19,2015-05-17,9.579671,5.336374,13.893834,9.579671,9.579671,0.0,0.0,0.0,0.0,0.0,0.0,9.579671
20,2015-05-24,9.660941,5.253087,13.814080,9.660941,9.660941,0.0,0.0,0.0,0.0,0.0,0.0,9.660941
21,2015-05-31,9.742211,5.431019,14.039234,9.742211,9.742211,0.0,0.0,0.0,0.0,0.0,0.0,9.742211
22,2015-06-07,9.823481,5.882614,13.868255,9.823481,9.823481,0.0,0.0,0.0,0.0,0.0,0.0,9.823481
23,2015-06-14,9.904751,5.720137,14.110094,9.904751,9.904751,0.0,0.0,0.0,0.0,0.0,0.0,9.904751
24,2015-06-21,9.986021,6.049317,14.191886,9.986021,9.986021,0.0,0.0,0.0,0.0,0.0,0.0,9.986021
25,2015-06-28,10.067290,5.770756,14.538659,10.067290,10.067290,0.0,0.0,0.0,0.0,0.0,0.0,10.067290
26,2015-07-05,10.148560,5.930675,14.298578,10.148560,10.148560,0.0,0.0,0.0,0.0,0.0,0.0,10.148560
27,2015-07-12,10.229830,5.978547,14.226847,10.229830,10.229830,0.0,0.0,0.0,0.0,0.0,0.0,10.229830
28,2015-07-19,10.311100,5.658761,14.292814,10.311100,10.311100,0.0,0.0,0.0,0.0,0.0,0.0,10.311100
29,2015-07-26,10.392370,6.378498,14.637556,10.392370,10.392370,0.0,0.0,0.0,0.0,0.0,0.0,10.392370
30,2015-08-02,10.473640,6.359448,14.666285,10.473640,10.473640,0.0,0.0,0.0,0.0,0.0,0.0,10.473640
31,2015-08-09,10.554910,6.428524,14.837290,10.554910,10.554910,0.0,0.0,0.0,0.0,0.0,0.0,10.554910
32,2015-08-16,10.636180,6.594552,14.972014,10.636180,10.636180,0.0,0.0,0.0,0.0,0.0,0.0,10.636180
33,2015-08-23,10.717450,6.860188,15.013721,10.717450,10.717450,0.0,0.0,0.0,0.0,0.0,0.0,10.717450
34,2015-08-30,10.798720,6.689607,15.009751,10.798720,10.798720,0.0,0.0,0.0,0.0,0.0,0.0,10.798720
35,2015-09-06,10.879990,6.583639,15.086401,10.879990,10.879990,0.0,0.0,0.0,0.0,0.0,0.0,10.879990
36,2015-09-13,10.961260,6.842714,15.274248,10.961260,10.961260,0.0,0.0,0.0,0.0,0.0,0.0,10.961260
37,2015-09-20,11.042529,7.203845,15.364570,11.042529,11.042530,0.0,0.0,0.0,0.0,0.0,0.0,11.042529
38,2015-09-27,11.123799,7.140358,15.179769,11.123798,11.123801,0.0,0.0,0.0,0.0,0.0,0.0,11.123799
39,2015-10-04,11.205069,6.894783,15.375966,11.205067,11.205072,0.0,0.0,0.0,0.0,0.0,0.0,11.205069
40,2015-10-11,11.286339,7.121927,15.397024,11.286335,11.286344,0.0,0.0,0.0,0.0,0.0,0.0,11.286339
41,2015-10-18,11.367609,7.377335,15.394887,11.367603,11.367616,0.0,0.0,0.0,0.0,0.0,0.0,11.367609
42,2015-10-25,11.448879,7.180880,15.378964,11.448871,11.448888,0.0,0.0,0.0,0.0,0.0,0.0,11.448879
43,2015-11-01,11.530149,7.426716,16.058678,11.530139,11.530160,0.0,0.0,0.0,0.0,0.0,0.0,11.530149
44,2015-11-08,11.611419,7.455269,16.125546,11.611406,11.611433,0.0,0.0,0.0,0.0,0.0,0.0,11.611419
45,2015-11-15,11.692689,7.589466,16.066797,11.692673,11.692705,0.0,0.0,0.0,0.0,0.0,0.0,11.692689
46,2015-11-22,11.773959,7.488449,16.087016,11.773941,11.773977,0.0,0.0,0.0,0.0,0.0,0.0,11.773959
47,2015-11-29,11.855229,7.679757,15.930598,11.855208,11.855250,0.0,0.0,0.0,0.0,0.0,0.0,11.855229
48,2015-12-06,11.936499,7.846244,16.274993,11.936475,11.936523,0.0,0.0,0.0,0.0,0.0,0.0,11.936499
49,2015-12-13,12.017768,7.714746,16.248726,12.017742,12.017797,0.0,0.0,0.0,0.0,0.0,0.0,12.017768
50,2015-12-20,12.099038,7.758254,16.086193,12.099008,12.099070,0.0,0.0,0.0,0.0,0.0,0.0,12.099038
51,2015-12-27,12.180308,8.118345,16.561481,12.180275,12.180343,0.0,0.0,0.0,0.0,0.0,0.0,12.180308
52,2016-01-03,12.261578,8.284661,16.620587,12.261542,12.261617,0.0,0.0,0.0,0.0,0.0,0.0,12.261578

In [19]:

test_forecast = forecast.iloc[split_point:split_point + len(test_df)][['ds', 'yhat']]

In [20]:
test_forecast

           ds       yhat
37 2015-09-20  11.042529
38 2015-09-27  11.123799
39 2015-10-04  11.205069
40 2015-10-11  11.286339
41 2015-10-18  11.367609
42 2015-10-25  11.448879
43 2015-11-01  11.530149
44 2015-11-08  11.611419
45 2015-11-15  11.692689
46 2015-11-22  11.773959
47 2015-11-29  11.855229
48 2015-12-06  11.936499
49 2015-12-13  12.017768
50 2015-12-20  12.099038
51 2015-12-27  12.180308
52 2016-01-03  12.261578

In [ ]:



mape = mean_absolute_percentage_error(test_df['y'], test_forecast['yhat'])

week_forecast = forecast.tail(1)[['ds', 'yhat']]

results[f'unique_pizza_ids[{j}]'] = {

    'MAPE': mape,

    'Next_Week_Prediction': week_forecast

}

In [ ]:
import pandas as pd
from prophet import Prophet
from sklearn.metrics import mean_absolute_percentage_error

results = {}

for j in range(0,91):
    example_pizza_id = unique_pizza_ids[j]
    df = dataframes[example_pizza_id]
    df_weekly = df.groupby('week_number').sum().reset_index()
    df_weekly.rename(columns={'week_number': 'ds', 'quantity': 'y'}, inplace=True)
    df_weekly['ds'] = pd.date_range(start=df['order_date'].min(), periods=len(df_weekly), freq='W')

    split_point = int(len(df_weekly) * 0.7)
    train_df = df_weekly[:split_point]
    test_df = df_weekly[split_point:]

    model = Prophet()
    model.fit(train_df)

    future = model.make_future_dataframe(periods=len(test_df), freq='W')
    forecast = model.predict(future)

    test_forecast = forecast.iloc[split_point:split_point + len(test_df)][['ds', 'yhat']]
    mape = mean_absolute_percentage_error(test_df['y'], test_forecast['yhat'])

    week_forecast = forecast.tail(1)[['ds', 'yhat']]

    results[f'unique_pizza_ids[{j}]'] = {
        'MAPE': mape,
        'Next_Week_Prediction': week_forecast
    }

In [ ]:
import pandas as pd
from prophet import Prophet
from sklearn.metrics import mean_absolute_percentage_error

results = {}

example_pizza_id = unique_pizza_ids[j]

df = dataframes[example_pizza_id]

df_weekly = df.groupby('week_number').sum().reset_index()

df_weekly.rename(columns={'week_number': 'ds', 'quantity': 'y'}, inplace=True)

df_weekly['ds'] = pd.date_range(start=df['order_date'].min(), periods=len(df_weekly), freq='W')

split_point = int(len(df_weekly) * 0.7)

train_df = df_weekly[:split_point]

test_df = df_weekly[split_point:]

model = Prophet()

model.fit(train_df)

future = model.make_future_dataframe(periods=len(test_df), freq='W')

forecast = model.predict(future)

test_forecast = forecast.iloc[split_point:split_point + len(test_df)][['ds', 'yhat']]

mape = mean_absolute_percentage_error(test_df['y'], test_forecast['yhat'])

week_forecast = forecast.tail(1)[['ds', 'yhat']]

results[f'unique_pizza_ids[{j}]'] = {

    'MAPE': mape,

    'Next_Week_Prediction': week_forecast

}