In [3]:
import pandas as pd

df1 = pd.read_csv('Pizza_Sale - pizza_sales.csv')
df2 = pd.read_csv('Pizza_ingredients - Pizza_ingredients.csv')

In [5]:
df1 = df1.drop(['pizza_id','order_id','pizza_category'],axis = 1)
df1

,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_ingredients,pizza_name
0,hawaiian_m,1,1/1/2015,11:38:36,13.25,13.25,M,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza
1,classic_dlx_m,1,1/1/2015,11:57:40,16.00,16.00,M,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza
2,five_cheese_l,1,1/1/2015,11:57:40,18.50,18.50,L,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza
3,ital_supr_l,1,1/1/2015,11:57:40,20.75,20.75,L,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza
4,mexicana_m,1,1/1/2015,11:57:40,16.00,16.00,M,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza
...,...,...,...,...,...,...,...,...,...
48615,ckn_alfredo_m,1,31-12-2015,21:23:10,16.75,16.75,M,"Chicken, Red Onions, Red Peppers, Mushrooms, A...",The Chicken Alfredo Pizza
48616,four_cheese_l,1,31-12-2015,21:23:10,17.95,17.95,L,"Ricotta Cheese, Gorgonzola Piccante Cheese, Mo...",The Four Cheese Pizza
48617,napolitana_s,1,31-12-2015,21:23:10,12.00,12.00,S,"Tomatoes, Anchovies, Green Olives, Red Onions,...",The Napolitana Pizza
48618,mexicana_l,1,31-12-2015,22:09:54,20.25,20.25,L,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza
48619,bbq_ckn_s,1,31-12-2015,23:02:05,12.75,12.75,S,"Barbecued Chicken, Red Peppers, Green Peppers,...",The Barbecue Chicken Pizza

In [25]:
df2.isna().sum()

pizza_name_id         0
pizza_name            0
pizza_ingredients     0
Items_Qty_In_Grams    4
dtype: int64

In [12]:
import pandas as pd

# Fill NaN values in column3 with the product of column1 and column2
df1['total_price'] = df1.apply(lambda row: row['quantity'] * row['unit_price'] if pd.isna(row['total_price']) else row['total_price'], axis=1)

print(df1)

       pizza_name_id  quantity  order_date order_time  unit_price  \
0         hawaiian_m         1    1/1/2015   11:38:36       13.25
1      classic_dlx_m         1    1/1/2015   11:57:40       16.00
2      five_cheese_l         1    1/1/2015   11:57:40       18.50
3        ital_supr_l         1    1/1/2015   11:57:40       20.75
4         mexicana_m         1    1/1/2015   11:57:40       16.00
...              ...       ...         ...        ...         ...
48615  ckn_alfredo_m         1  31-12-2015   21:23:10       16.75
48616  four_cheese_l         1  31-12-2015   21:23:10       17.95
48617   napolitana_s         1  31-12-2015   21:23:10       12.00
48618     mexicana_l         1  31-12-2015   22:09:54       20.25
48619      bbq_ckn_s         1  31-12-2015   23:02:05       12.75

       total_price pizza_size  \
0            13.25          M
1            16.00          M
2            18.50          L
3            20.75          L
4            16.00          M
...            ...        ...
48615        16.75          M
48616        17.95          L
48617        12.00          S
48618        20.25          L
48619        12.75          S

                                       pizza_ingredients  \
0               Sliced Ham, Pineapple, Mozzarella Cheese
1      Pepperoni, Mushrooms, Red Onions, Red Peppers,...
2      Mozzarella Cheese, Provolone Cheese, Smoked Go...
3      Calabrese Salami, Capocollo, Tomatoes, Red Oni...
4      Tomatoes, Red Peppers, Jalapeno Peppers, Red O...
...                                                  ...
48615  Chicken, Red Onions, Red Peppers, Mushrooms, A...
48616  Ricotta Cheese, Gorgonzola Piccante Cheese, Mo...
48617  Tomatoes, Anchovies, Green Olives, Red Onions,...
48618  Tomatoes, Red Peppers, Jalapeno Peppers, Red O...
48619  Barbecued Chicken, Red Peppers, Green Peppers,...

                       pizza_name
0              The Hawaiian Pizza
1        The Classic Deluxe Pizza
2           The Five Cheese Pizza
3       The Italian Supreme Pizza
4              The Mexicana Pizza
...                           ...
48615   The Chicken Alfredo Pizza
48616       The Four Cheese Pizza
48617        The Napolitana Pizza
48618          The Mexicana Pizza
48619  The Barbecue Chicken Pizza

[48620 rows x 9 columns]

In [17]:
df1.isna().sum()

pizza_name_id        16
quantity              0
order_date            0
order_time            0
unit_price            0
total_price           0
pizza_size            0
pizza_ingredients     0
pizza_name            0
dtype: int64

In [9]:
df2.isna().sum()

pizza_name_id         0
pizza_name            0
pizza_ingredients     0
Items_Qty_In_Grams    4
dtype: int64

In [14]:

pizza_dict = df2.set_index('pizza_name_id')['pizza_name'].to_dict()

df1['pizza_name'] = df1.apply(lambda row: pizza_dict[row['pizza_name_id']] if pd.isna(row['pizza_name']) else row['pizza_name'], axis=1)

print(df1)

       pizza_name_id  quantity  order_date order_time  unit_price  \
0         hawaiian_m         1    1/1/2015   11:38:36       13.25
1      classic_dlx_m         1    1/1/2015   11:57:40       16.00
2      five_cheese_l         1    1/1/2015   11:57:40       18.50
3        ital_supr_l         1    1/1/2015   11:57:40       20.75
4         mexicana_m         1    1/1/2015   11:57:40       16.00
...              ...       ...         ...        ...         ...
48615  ckn_alfredo_m         1  31-12-2015   21:23:10       16.75
48616  four_cheese_l         1  31-12-2015   21:23:10       17.95
48617   napolitana_s         1  31-12-2015   21:23:10       12.00
48618     mexicana_l         1  31-12-2015   22:09:54       20.25
48619      bbq_ckn_s         1  31-12-2015   23:02:05       12.75

       total_price pizza_size  \
0            13.25          M
1            16.00          M
2            18.50          L
3            20.75          L
4            16.00          M
...            ...        ...
48615        16.75          M
48616        17.95          L
48617        12.00          S
48618        20.25          L
48619        12.75          S

                                       pizza_ingredients  \
0               Sliced Ham, Pineapple, Mozzarella Cheese
1      Pepperoni, Mushrooms, Red Onions, Red Peppers,...
2      Mozzarella Cheese, Provolone Cheese, Smoked Go...
3      Calabrese Salami, Capocollo, Tomatoes, Red Oni...
4      Tomatoes, Red Peppers, Jalapeno Peppers, Red O...
...                                                  ...
48615  Chicken, Red Onions, Red Peppers, Mushrooms, A...
48616  Ricotta Cheese, Gorgonzola Piccante Cheese, Mo...
48617  Tomatoes, Anchovies, Green Olives, Red Onions,...
48618  Tomatoes, Red Peppers, Jalapeno Peppers, Red O...
48619  Barbecued Chicken, Red Peppers, Green Peppers,...

                       pizza_name
0              The Hawaiian Pizza
1        The Classic Deluxe Pizza
2           The Five Cheese Pizza
3       The Italian Supreme Pizza
4              The Mexicana Pizza
...                           ...
48615   The Chicken Alfredo Pizza
48616       The Four Cheese Pizza
48617        The Napolitana Pizza
48618          The Mexicana Pizza
48619  The Barbecue Chicken Pizza

[48620 rows x 9 columns]

In [16]:
ingredient_dict = df2.set_index('pizza_name')['pizza_ingredients'].to_dict()

# Fill missing values in df1 using the dictionary
df1['pizza_ingredients'] = df1.apply(lambda row: ingredient_dict[row['pizza_name']] if pd.isna(row['pizza_ingredients']) else row['pizza_ingredients'], axis=1)

print(df1)

       pizza_name_id  quantity  order_date order_time  unit_price  \
0         hawaiian_m         1    1/1/2015   11:38:36       13.25
1      classic_dlx_m         1    1/1/2015   11:57:40       16.00
2      five_cheese_l         1    1/1/2015   11:57:40       18.50
3        ital_supr_l         1    1/1/2015   11:57:40       20.75
4         mexicana_m         1    1/1/2015   11:57:40       16.00
...              ...       ...         ...        ...         ...
48615  ckn_alfredo_m         1  31-12-2015   21:23:10       16.75
48616  four_cheese_l         1  31-12-2015   21:23:10       17.95
48617   napolitana_s         1  31-12-2015   21:23:10       12.00
48618     mexicana_l         1  31-12-2015   22:09:54       20.25
48619      bbq_ckn_s         1  31-12-2015   23:02:05       12.75

       total_price pizza_size  \
0            13.25          M
1            16.00          M
2            18.50          L
3            20.75          L
4            16.00          M
...            ...        ...
48615        16.75          M
48616        17.95          L
48617        12.00          S
48618        20.25          L
48619        12.75          S

                                       pizza_ingredients  \
0               Sliced Ham, Pineapple, Mozzarella Cheese
1      Pepperoni, Mushrooms, Red Onions, Red Peppers,...
2      Mozzarella Cheese, Provolone Cheese, Smoked Go...
3      Calabrese Salami, Capocollo, Tomatoes, Red Oni...
4      Tomatoes, Red Peppers, Jalapeno Peppers, Red O...
...                                                  ...
48615  Chicken, Red Onions, Red Peppers, Mushrooms, A...
48616  Ricotta Cheese, Gorgonzola Piccante Cheese, Mo...
48617  Tomatoes, Anchovies, Green Olives, Red Onions,...
48618  Tomatoes, Red Peppers, Jalapeno Peppers, Red O...
48619  Barbecued Chicken, Red Peppers, Green Peppers,...

                       pizza_name
0              The Hawaiian Pizza
1        The Classic Deluxe Pizza
2           The Five Cheese Pizza
3       The Italian Supreme Pizza
4              The Mexicana Pizza
...                           ...
48615   The Chicken Alfredo Pizza
48616       The Four Cheese Pizza
48617        The Napolitana Pizza
48618          The Mexicana Pizza
48619  The Barbecue Chicken Pizza

[48620 rows x 9 columns]

In [20]:
ingredient_dict = df2.set_index('pizza_name')['pizza_name_id'].to_dict()

# Fill missing values in df1 using the dictionary
df1['pizza_name_id'] = df1.apply(lambda row: ingredient_dict[row['pizza_name']] if pd.isna(row['pizza_name_id']) else row['pizza_name_id'], axis=1)

print(df1)

       pizza_name_id  quantity  order_date order_time  unit_price  \
0         hawaiian_m         1    1/1/2015   11:38:36       13.25
1      classic_dlx_m         1    1/1/2015   11:57:40       16.00
2      five_cheese_l         1    1/1/2015   11:57:40       18.50
3        ital_supr_l         1    1/1/2015   11:57:40       20.75
4         mexicana_m         1    1/1/2015   11:57:40       16.00
...              ...       ...         ...        ...         ...
48615  ckn_alfredo_m         1  31-12-2015   21:23:10       16.75
48616  four_cheese_l         1  31-12-2015   21:23:10       17.95
48617   napolitana_s         1  31-12-2015   21:23:10       12.00
48618     mexicana_l         1  31-12-2015   22:09:54       20.25
48619      bbq_ckn_s         1  31-12-2015   23:02:05       12.75

       total_price pizza_size  \
0            13.25          M
1            16.00          M
2            18.50          L
3            20.75          L
4            16.00          M
...            ...        ...
48615        16.75          M
48616        17.95          L
48617        12.00          S
48618        20.25          L
48619        12.75          S

                                       pizza_ingredients  \
0               Sliced Ham, Pineapple, Mozzarella Cheese
1      Pepperoni, Mushrooms, Red Onions, Red Peppers,...
2      Mozzarella Cheese, Provolone Cheese, Smoked Go...
3      Calabrese Salami, Capocollo, Tomatoes, Red Oni...
4      Tomatoes, Red Peppers, Jalapeno Peppers, Red O...
...                                                  ...
48615  Chicken, Red Onions, Red Peppers, Mushrooms, A...
48616  Ricotta Cheese, Gorgonzola Piccante Cheese, Mo...
48617  Tomatoes, Anchovies, Green Olives, Red Onions,...
48618  Tomatoes, Red Peppers, Jalapeno Peppers, Red O...
48619  Barbecued Chicken, Red Peppers, Green Peppers,...

                       pizza_name
0              The Hawaiian Pizza
1        The Classic Deluxe Pizza
2           The Five Cheese Pizza
3       The Italian Supreme Pizza
4              The Mexicana Pizza
...                           ...
48615   The Chicken Alfredo Pizza
48616       The Four Cheese Pizza
48617        The Napolitana Pizza
48618          The Mexicana Pizza
48619  The Barbecue Chicken Pizza

[48620 rows x 9 columns]

In [21]:
df1.isna().sum()

pizza_name_id        0
quantity             0
order_date           0
order_time           0
unit_price           0
total_price          0
pizza_size           0
pizza_ingredients    0
pizza_name           0
dtype: int64

In [22]:
df1.to_csv('Sales.csv',index = False)

In [1]:
df2.to_csv("Ingre.csv",index = False)

NameError: name 'df2' is not defined

In [28]:
# Select rows with NaN values in the 'PizzaName' column
nan_pizza_name_rows = df2[df2['Items_Qty_In_Grams'].isna()]

print(nan_pizza_name_rows)

    pizza_name_id            pizza_name   pizza_ingredients  \
24   brie_carre_s  The Brie Carre Pizza  Caramelized Onions
149    hawaiian_l    The Hawaiian Pizza          Sliced Ham
152    hawaiian_m    The Hawaiian Pizza          Sliced Ham
155    hawaiian_s    The Hawaiian Pizza          Sliced Ham

     Items_Qty_In_Grams
24                  NaN
149                 NaN
152                 NaN
155                 NaN