In [8]:
import pandas as pd
df = pd.read_csv("Sales.csv")

In [9]:
import pandas as pd

unique_pizza_ids = df['pizza_name_id'].unique()

dataframes = {}

for pizza_id in unique_pizza_ids:
    df_filtered = df[df['pizza_name_id'] == pizza_id][['week_number', 'quantity', 'order_date']]
    dataframes[pizza_id] = df_filtered

In [10]:

example_pizza_id = unique_pizza_ids[0]
df = dataframes[example_pizza_id]

In [12]:
df.head(10)

      week_number  quantity  order_date
0               1         1  2015-01-01
178             1         1  2015-01-02
356             1         1  2015-01-03
388             1         1  2015-01-03
567             1         1  2015-01-04
715             2         1  2015-01-06
805             2         1  2015-01-06
855             2         1  2015-01-07
1262            2         1  2015-01-09
1311            2         1  2015-01-10

In [7]:
df_weekly = df.groupby('week_number').sum().reset_index()
df_weekly

    week_number  quantity                                         order_date
0             1         5  2015-01-012015-01-022015-01-032015-01-032015-0...
1             2         5  2015-01-062015-01-062015-01-072015-01-092015-0...
2             3         3                     2015-01-142015-01-172015-01-17
3             4         4           2015-01-192015-01-212015-01-222015-01-23
4             5        11  2015-01-272015-01-272015-01-282015-01-292015-0...
5             6        11  2015-02-032015-02-032015-02-042015-02-042015-0...
6             7         8  2015-02-102015-02-112015-02-122015-02-122015-0...
7             8        12  2015-02-162015-02-162015-02-162015-02-162015-0...
8             9         8  2015-02-232015-02-242015-02-242015-02-242015-0...
9            10        18  2015-03-022015-03-022015-03-022015-03-022015-0...
10           11         9  2015-03-102015-03-122015-03-132015-03-132015-0...
11           12        10  2015-03-172015-03-172015-03-182015-03-182015-0...
12           13        10  2015-03-232015-03-232015-03-232015-03-262015-0...
13           14        13  2015-03-302015-04-012015-04-022015-04-022015-0...
14           15         9  2015-04-062015-04-062015-04-072015-04-072015-0...
15           16         6  2015-04-132015-04-142015-04-142015-04-152015-0...
16           17        11  2015-04-202015-04-202015-04-212015-04-212015-0...
17           18        10  2015-04-272015-04-282015-04-292015-04-302015-0...
18           19        11  2015-05-042015-05-042015-05-052015-05-062015-0...
19           20         5  2015-05-112015-05-132015-05-142015-05-152015-0...
20           21         6  2015-05-182015-05-202015-05-202015-05-232015-0...
21           22         9  2015-05-252015-05-252015-05-262015-05-262015-0...
22           23         8  2015-06-012015-06-022015-06-042015-06-052015-0...
23           24        13  2015-06-082015-06-082015-06-082015-06-092015-0...
24           25        10  2015-06-162015-06-162015-06-162015-06-172015-0...
25           26        15  2015-06-222015-06-222015-06-232015-06-232015-0...
26           27        10  2015-06-292015-07-012015-07-022015-07-022015-0...
27           28        13  2015-07-062015-07-062015-07-062015-07-072015-0...
28           29         4           2015-07-132015-07-162015-07-162015-07-18
29           30        14  2015-07-202015-07-202015-07-202015-07-212015-0...
30           31         9  2015-07-272015-07-282015-07-282015-07-302015-0...
31           32        12  2015-08-042015-08-052015-08-052015-08-052015-0...
32           33        13  2015-08-102015-08-102015-08-112015-08-112015-0...
33           34        13  2015-08-182015-08-182015-08-192015-08-202015-0...
34           35         5  2015-08-252015-08-262015-08-272015-08-292015-0...
35           36         8  2015-09-022015-09-032015-09-042015-09-052015-0...
36           37        11  2015-09-072015-09-072015-09-092015-09-092015-0...
37           38         8  2015-09-142015-09-152015-09-162015-09-162015-0...
38           39         6  2015-09-212015-09-212015-09-232015-09-232015-0...
39           40         8  2015-09-292015-09-302015-10-012015-10-012015-1...
40           41         9  2015-10-062015-10-062015-10-082015-10-082015-1...
41           42         8  2015-10-152015-10-152015-10-152015-10-162015-1...
42           43         8  2015-10-202015-10-212015-10-212015-10-222015-1...
43           44         3                     2015-10-302015-10-312015-11-01
44           45         3                     2015-11-032015-11-042015-11-07
45           46        13  2015-11-092015-11-092015-11-092015-11-092015-1...
46           47         9  2015-11-162015-11-172015-11-182015-11-182015-1...
47           48        11  2015-11-232015-11-252015-11-252015-11-262015-1...
48           49        14  2015-11-302015-11-302015-12-012015-12-012015-1...
49           50        13  2015-12-072015-12-082015-12-092015-12-092015-1...
50           51         7  2015-12-142015-12-152015-12-152015-12-162015-1...
51           52         8  2015-12-212015-12-212015-12-212015-12-222015-1...
52           53         3                     2015-12-282015-12-282015-12-28

In [15]:
df_weekly.rename(columns={'week_number': 'ds', 'quantity': 'y'}, inplace=True)
df_weekly['ds'] = pd.date_range(start=df['order_date'].min(), periods=len(df_weekly), freq='W')

In [17]:
import pandas as pd
from prophet import Prophet

# Assuming your DataFrame is named df
# Rename columns to the format Prophet expects
df = df_weekly[['ds', 'y']]

# Initialize the Prophet model
model = Prophet()

# Fit the model to the data
model.fit(df)

10:58:34 - cmdstanpy - INFO - Chain [1] start processing
10:58:34 - cmdstanpy - INFO - Chain [1] done processing

In [18]:
future_dates = model.make_future_dataframe(periods=7)

In [19]:
future_dates

           ds
0  2015-01-04
1  2015-01-11
2  2015-01-18
3  2015-01-25
4  2015-02-01
5  2015-02-08
6  2015-02-15
7  2015-02-22
8  2015-03-01
9  2015-03-08
10 2015-03-15
11 2015-03-22
12 2015-03-29
13 2015-04-05
14 2015-04-12
15 2015-04-19
16 2015-04-26
17 2015-05-03
18 2015-05-10
19 2015-05-17
20 2015-05-24
21 2015-05-31
22 2015-06-07
23 2015-06-14
24 2015-06-21
25 2015-06-28
26 2015-07-05
27 2015-07-12
28 2015-07-19
29 2015-07-26
30 2015-08-02
31 2015-08-09
32 2015-08-16
33 2015-08-23
34 2015-08-30
35 2015-09-06
36 2015-09-13
37 2015-09-20
38 2015-09-27
39 2015-10-04
40 2015-10-11
41 2015-10-18
42 2015-10-25
43 2015-11-01
44 2015-11-08
45 2015-11-15
46 2015-11-22
47 2015-11-29
48 2015-12-06
49 2015-12-13
50 2015-12-20
51 2015-12-27
52 2016-01-03
53 2016-01-04
54 2016-01-05
55 2016-01-06
56 2016-01-07
57 2016-01-08
58 2016-01-09
59 2016-01-10

In [20]:

forecast = model.predict(future_dates)
forecast

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
0,2015-01-04,9.150678,4.900690,13.567619,9.150678,9.150678,0.0,0.0,0.0,0.0,0.0,0.0,9.150678
1,2015-01-11,9.149376,4.669779,13.215953,9.149376,9.149376,0.0,0.0,0.0,0.0,0.0,0.0,9.149376
2,2015-01-18,9.148075,4.922411,13.406826,9.148075,9.148075,0.0,0.0,0.0,0.0,0.0,0.0,9.148075
3,2015-01-25,9.146773,4.954605,13.676188,9.146773,9.146773,0.0,0.0,0.0,0.0,0.0,0.0,9.146773
4,2015-02-01,9.145471,4.759948,13.566857,9.145471,9.145471,0.0,0.0,0.0,0.0,0.0,0.0,9.145471
5,2015-02-08,9.144170,4.496529,13.522242,9.144170,9.144170,0.0,0.0,0.0,0.0,0.0,0.0,9.144170
6,2015-02-15,9.142868,4.409270,13.443591,9.142868,9.142868,0.0,0.0,0.0,0.0,0.0,0.0,9.142868
7,2015-02-22,9.141567,4.827918,13.256628,9.141567,9.141567,0.0,0.0,0.0,0.0,0.0,0.0,9.141567
8,2015-03-01,9.140265,4.756711,13.328196,9.140265,9.140265,0.0,0.0,0.0,0.0,0.0,0.0,9.140265
9,2015-03-08,9.138963,4.900337,13.798594,9.138963,9.138963,0.0,0.0,0.0,0.0,0.0,0.0,9.138963
10,2015-03-15,9.137662,4.994530,13.678385,9.137662,9.137662,0.0,0.0,0.0,0.0,0.0,0.0,9.137662
11,2015-03-22,9.136360,4.932514,13.514150,9.136360,9.136360,0.0,0.0,0.0,0.0,0.0,0.0,9.136360
12,2015-03-29,9.135058,4.347459,13.552593,9.135058,9.135058,0.0,0.0,0.0,0.0,0.0,0.0,9.135058
13,2015-04-05,9.133757,4.403493,13.395067,9.133757,9.133757,0.0,0.0,0.0,0.0,0.0,0.0,9.133757
14,2015-04-12,9.132455,4.987732,13.416780,9.132455,9.132455,0.0,0.0,0.0,0.0,0.0,0.0,9.132455
15,2015-04-19,9.131154,4.838540,13.324738,9.131154,9.131154,0.0,0.0,0.0,0.0,0.0,0.0,9.131154
16,2015-04-26,9.129852,4.932534,13.305970,9.129852,9.129852,0.0,0.0,0.0,0.0,0.0,0.0,9.129852
17,2015-05-03,9.128550,4.503861,13.518923,9.128550,9.128550,0.0,0.0,0.0,0.0,0.0,0.0,9.128550
18,2015-05-10,9.127249,4.846539,13.934827,9.127249,9.127249,0.0,0.0,0.0,0.0,0.0,0.0,9.127249
19,2015-05-17,9.125947,4.659835,13.558627,9.125947,9.125947,0.0,0.0,0.0,0.0,0.0,0.0,9.125947
20,2015-05-24,9.124645,4.830196,13.418729,9.124645,9.124645,0.0,0.0,0.0,0.0,0.0,0.0,9.124645
21,2015-05-31,9.123344,4.854620,13.479518,9.123344,9.123344,0.0,0.0,0.0,0.0,0.0,0.0,9.123344
22,2015-06-07,9.122042,4.628821,13.462301,9.122042,9.122042,0.0,0.0,0.0,0.0,0.0,0.0,9.122042
23,2015-06-14,9.120741,4.857392,13.368968,9.120741,9.120741,0.0,0.0,0.0,0.0,0.0,0.0,9.120741
24,2015-06-21,9.119439,4.883706,13.177640,9.119439,9.119439,0.0,0.0,0.0,0.0,0.0,0.0,9.119439
25,2015-06-28,9.118137,4.704594,13.460305,9.118137,9.118137,0.0,0.0,0.0,0.0,0.0,0.0,9.118137
26,2015-07-05,9.116836,4.669924,13.189349,9.116836,9.116836,0.0,0.0,0.0,0.0,0.0,0.0,9.116836
27,2015-07-12,9.115534,5.174963,13.610009,9.115534,9.115534,0.0,0.0,0.0,0.0,0.0,0.0,9.115534
28,2015-07-19,9.114232,4.913256,13.319306,9.114232,9.114232,0.0,0.0,0.0,0.0,0.0,0.0,9.114232
29,2015-07-26,9.112931,4.542686,13.461791,9.112931,9.112931,0.0,0.0,0.0,0.0,0.0,0.0,9.112931
30,2015-08-02,9.111629,4.823998,13.430468,9.111629,9.111629,0.0,0.0,0.0,0.0,0.0,0.0,9.111629
31,2015-08-09,9.110322,4.900953,13.309580,9.110322,9.110322,0.0,0.0,0.0,0.0,0.0,0.0,9.110322
32,2015-08-16,9.109015,4.722541,13.427242,9.109015,9.109015,0.0,0.0,0.0,0.0,0.0,0.0,9.109015
33,2015-08-23,9.107709,5.177038,13.631508,9.107709,9.107709,0.0,0.0,0.0,0.0,0.0,0.0,9.107709
34,2015-08-30,9.106402,4.750752,13.415134,9.106402,9.106402,0.0,0.0,0.0,0.0,0.0,0.0,9.106402
35,2015-09-06,9.105095,4.893168,13.151531,9.105095,9.105095,0.0,0.0,0.0,0.0,0.0,0.0,9.105095
36,2015-09-13,9.103788,4.670376,13.428093,9.103788,9.103788,0.0,0.0,0.0,0.0,0.0,0.0,9.103788
37,2015-09-20,9.102481,4.807694,13.137980,9.102481,9.102481,0.0,0.0,0.0,0.0,0.0,0.0,9.102481
38,2015-09-27,9.101174,4.811831,13.415017,9.101174,9.101174,0.0,0.0,0.0,0.0,0.0,0.0,9.101174
39,2015-10-04,9.099867,4.753938,13.186423,9.099867,9.099867,0.0,0.0,0.0,0.0,0.0,0.0,9.099867
40,2015-10-11,9.098561,4.843870,13.380609,9.098561,9.098561,0.0,0.0,0.0,0.0,0.0,0.0,9.098561
41,2015-10-18,9.097254,4.700421,13.517404,9.097254,9.097254,0.0,0.0,0.0,0.0,0.0,0.0,9.097254
42,2015-10-25,9.095947,4.343528,13.337532,9.095947,9.095947,0.0,0.0,0.0,0.0,0.0,0.0,9.095947
43,2015-11-01,9.094640,4.725337,13.743342,9.094640,9.094640,0.0,0.0,0.0,0.0,0.0,0.0,9.094640
44,2015-11-08,9.093333,4.770712,13.708717,9.093333,9.093333,0.0,0.0,0.0,0.0,0.0,0.0,9.093333
45,2015-11-15,9.092026,4.913918,13.067376,9.092026,9.092026,0.0,0.0,0.0,0.0,0.0,0.0,9.092026
46,2015-11-22,9.090719,4.486110,13.096609,9.090719,9.090719,0.0,0.0,0.0,0.0,0.0,0.0,9.090719
47,2015-11-29,9.089412,4.817083,13.524851,9.089412,9.089412,0.0,0.0,0.0,0.0,0.0,0.0,9.089412
48,2015-12-06,9.088106,4.902797,13.590113,9.088106,9.088106,0.0,0.0,0.0,0.0,0.0,0.0,9.088106
49,2015-12-13,9.086799,4.680930,13.556809,9.086799,9.086799,0.0,0.0,0.0,0.0,0.0,0.0,9.086799
50,2015-12-20,9.085492,4.597326,13.695652,9.085492,9.085492,0.0,0.0,0.0,0.0,0.0,0.0,9.085492
51,2015-12-27,9.084185,4.641109,13.541492,9.084185,9.084185,0.0,0.0,0.0,0.0,0.0,0.0,9.084185
52,2016-01-03,9.082878,4.625761,13.517295,9.082878,9.082878,0.0,0.0,0.0,0.0,0.0,0.0,9.082878
53,2016-01-04,9.082691,4.892723,13.257568,9.082691,9.082691,0.0,0.0,0.0,0.0,0.0,0.0,9.082691
54,2016-01-05,9.082505,4.867491,13.407463,9.082505,9.082505,0.0,0.0,0.0,0.0,0.0,0.0,9.082505
55,2016-01-06,9.082318,4.934030,13.789343,9.082318,9.082318,0.0,0.0,0.0,0.0,0.0,0.0,9.082318
56,2016-01-07,9.082131,4.457910,13.169995,9.082131,9.082131,0.0,0.0,0.0,0.0,0.0,0.0,9.082131
57,2016-01-08,9.081945,4.783901,13.474059,9.081945,9.081945,0.0,0.0,0.0,0.0,0.0,0.0,9.081945
58,2016-01-09,9.081758,4.743453,13.569310,9.081758,9.081758,0.0,0.0,0.0,0.0,0.0,0.0,9.081758
59,2016-01-10,9.081571,4.713895,13.537047,9.081571,9.081571,0.0,0.0,0.0,0.0,0.0,0.0,9.081571

In [ ]:
next_week_forecast = forecast[['ds', 'yhat']].tail(7)

In [21]:

# Make predictions
# Show the forecast for the next week
next_week_forecast = forecast[['ds', 'yhat']].tail(7)
print(next_week_forecast)

           ds      yhat
53 2016-01-04  9.082691
54 2016-01-05  9.082505
55 2016-01-06  9.082318
56 2016-01-07  9.082131
57 2016-01-08  9.081945
58 2016-01-09  9.081758
59 2016-01-10  9.081571